/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Baskerville:ital,wght@0,400;0,700;1,400&family=Helvetica:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Baskerville', serif;
}

/* Global styles for retro texture */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAADBJREFUKFNj/P///38GBgYGJwAFawKNp1mWHAAAAABJRU5ErkJggg==') repeat; /* Simple noise texture */
  opacity: 0.05;
  pointer-events: none;
  z-index: -1;
}